### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# load in resource file
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].count()
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Setting unique items
unique_items = len(purchase_data['Item ID'].unique())

# Average price
avg_price = purchase_data['Price'].mean()

# Total purchases
total_purchases = len(purchase_data['Item ID'])

# Total revenue
total_revenue = purchase_data['Price'].sum()

# create dataframe for purchase analysis
purchase_analysis = pd.DataFrame({
        'Unique Items':[unique_items],
        'Average Price':[avg_price],
        'Total Purchase':[total_purchases],
        'Total Revenue':[total_revenue]})

# formatting data frame
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map('${:.2f}'.format)
purchase_analysis['Total Revenue'] = purchase_analysis['Total Revenue'].map('${:.2f}'.format)
purchase_analysis = purchase_analysis[['Unique Items','Average Price','Total Purchase','Total Revenue']]
purchase_analysis

   Unique Items Average Price  Total Purchase Total Revenue
0           179         $3.05             780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# get rid of duplicates
user_df = purchase_data.drop_duplicates(subset='SN',keep='first')
total_gender = user_df['Gender'].count()

# male player total
male_count = user_df.loc[user_df['Gender']=='Male']
male_count = male_count['Gender'].count()

# female player total
female_count = user_df.loc[user_df['Gender']=='Female']
female_count = female_count['Gender'].count()

# other/non/disclosed total
other_count = user_df.loc[user_df['Gender']=='Other / Non-Disclosed']
other_count = other_count['Gender'].count()

# percentages
male_percent = (male_count / total_gender)*100
female_percent = (female_count / total_gender)*100
other_percent = (other_count / total_gender)*100

# gender demo dataframe
Gender_Demographic = pd.DataFrame({"":['Male','Female','Other / Non-Disclosed'],
                                   'Total Count':[male_count,female_count,other_count], 
                                   'Percentage of Players':[male_percent,female_percent,other_percent]
                                  })

# formatting
Gender_Demographic['Percentage of Players'] = Gender_Demographic['Percentage of Players'].map('{:.2f}%'.format)
Gender_Demographic = Gender_Demographic.set_index('')
Gender_Demographic

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# gender groupby
gender_df = purchase_data.groupby(['Gender'])

# calculations
purchase_count = gender_df['Purchase ID'].count()

avg_purchase = gender_df['Price'].mean()

total_purchase = gender_df['Price'].sum()

# average purchase per person by gender
gender_df_wo_duplicates = purchase_data.drop_duplicates(subset='SN',keep='first')
gender_df_group = gender_df_wo_duplicates.groupby(['Gender'])

avg_purchase_per_person = (total_purchase / gender_df_group['SN'].count())

# purchase analysis dataframe
Purch_Analysis = pd.DataFrame({'Purchase Count':purchase_count,
                              'Average Purchase':avg_purchase,
                              'Total Purchase':total_purchase,
                              'Average Purchase per Person':avg_purchase_per_person})

# formatting dataframe
Purch_Analysis['Average Purchase']=Purch_Analysis['Average Purchase'].map("${:.2f}".format)
Purch_Analysis['Total Purchase']=Purch_Analysis['Total Purchase'].map("${:.2f}".format)
Purch_Analysis['Average Purchase per Person']=Purch_Analysis['Average Purchase per Person'].map("${:.2f}".format)
Purch_Analysis

,Purchase Count,Average Purchase,Total Purchase,Average Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# age bins
bins = [0,10,15,20,25,30,35,40,150]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# categorize player by age bin
Categor_player_df = purchase_data
Categor_player_df['Age Groups']=pd.cut(Categor_player_df['Age'],bins,labels=bin_labels)
group_bin = Categor_player_df.groupby(['Age Groups'])

# numbers and percentages by age bin
bin_count = group_bin['SN'].count()
total_count = purchase_data['SN'].count()
age_percentage = (bin_count/total_count)*100
age_percentage

# age demo dataframe
Age_Demographic = pd.DataFrame({'Total Count':bin_count,
                                'Percentage of Players':age_percentage})

# formatting data frame
Age_Demographic['Percentage of Players'] = Age_Demographic['Percentage of Players'].map('{:.2f}%'.format)
Age_Demographic

            Total Count Percentage of Players
Age Groups
<10                  32                 4.10%
10-14                54                 6.92%
15-19               200                25.64%
20-24               325                41.67%
25-29                77                 9.87%
30-34                52                 6.67%
35-39                33                 4.23%
40+                   7                 0.90%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# age bins
bins = [0,10,15,20,25,30,35,40,150]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# categorize players by age bins
Categor_player_df = purchase_data
Categor_player_df['Age Groups'] = pd.cut(Categor_player_df['Age'],bins,labels=bin_labels)
agegroup_bin = Categor_player_df.groupby(['Age Groups'])

# count of purchases
bin_count = agegroup_bin['Age'].count()

# purchase price average
bin_average = agegroup_bin['Price'].mean()

# total price
bin_total = agegroup_bin['Price'].sum()

# duplicates removed
bin_duplicates = Categor_player_df.drop_duplicates(subset='SN',keep='first')
bin_duplicates['Age Groups'] = pd.cut(bin_duplicates['Age'],bins,labels=bin_labels)
bin_duplicates = bin_duplicates.groupby(['Age Groups'])

# average total purchase per user
bin_total_average = (agegroup_bin['Price'].sum()/bin_duplicates['SN'].count())

# age purchase analysis dataframe
Age_Purch_DataFrame = pd.DataFrame({'Purchase Count':bin_count,
                                    'Average Purchase Price':bin_average,
                                    'Total Purchase Value':bin_total,
                                    'Avg Total Purchase per Person':bin_total_average})
Age_Purch_DataFrame

# formatting dataframe
Age_Purch_DataFrame['Average Purchase Price']=Age_Purch_DataFrame['Average Purchase Price'].map('${:.2f}'.format)
Age_Purch_DataFrame['Total Purchase Value']=Age_Purch_DataFrame['Total Purchase Value'].map('${:.2f}'.format)
Age_Purch_DataFrame['Avg Total Purchase per Person']=Age_Purch_DataFrame['Avg Total Purchase per Person'].map('${:.2f}'.format)
Age_Purch_DataFrame

C:\Users\Pucki\anaconda3\envs\PyData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,32,$3.40,$108.96,$4.54
10-14,54,$2.90,$156.60,$3.82
15-19,200,$3.11,$621.56,$4.14
20-24,325,$3.02,$981.64,$4.23
25-29,77,$2.88,$221.42,$3.75
30-34,52,$2.99,$155.71,$4.21
35-39,33,$3.40,$112.35,$4.32
40+,7,$3.08,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# group by name
groupSN_df=purchase_data.groupby(['SN'])
groupSN_df.head()

# count of purchases
spenderSN_count = groupSN_df['Item ID'].count()

# purchase total value
spenderSN_total = groupSN_df['Price'].sum()

# purchase average
spenderSN_average = (spenderSN_total / spenderSN_count)

# top spender dataframe
spender_DataFrame = pd.DataFrame({'Purchase Count':spenderSN_count,
                                  'Total Purchase Value':spenderSN_total,
                                  'Average Purchase':spenderSN_average})

# total purchase value column
spender_DataFrame=spender_DataFrame.sort_values('Total Purchase Value',ascending=False)

# formatting data frame
spender_DataFrame['Total Purchase Value']=spender_DataFrame['Total Purchase Value'].map('${:.2f}'.format)
spender_DataFrame['Average Purchase']=spender_DataFrame['Average Purchase'].map('${:.2f}'.format)
spender_DataFrame=spender_DataFrame[['Purchase Count','Total Purchase Value','Average Purchase']]
spender_DataFrame.head()

             Purchase Count Total Purchase Value Average Purchase
SN
Lisosia93                 5               $18.96            $3.79
Idastidru52               4               $15.45            $3.86
Chamjask73                3               $13.83            $4.61
Iral74                    4               $13.62            $3.40
Iskadarya95               3               $13.10            $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# retrieve relevant data
popular_df = purchase_data[['SN','Item ID','Item Name','Price']]
popular_df.head()

# group by item name/ID
popular_df_group = popular_df.groupby(['Item ID','Item Name'])

# count of purchases
purchase_popular = popular_df_group['SN'].count()

# item price
price_popular = popular_df_group['Price'].sum()

# total purchase
total_purch = (price_popular / purchase_popular)
totalpurch_popular = (total_purch * purchase_popular)

# popular items dataframe
popular_DataFrame = pd.DataFrame({'Purchase Count':purchase_popular,
                                  'Item Price':price_popular,
                                  'Total Purchase Value':totalpurch_popular})

# formatting data frame
popular_DataFrame=popular_DataFrame.sort_values('Purchase Count',ascending=False)

popular_DataFrame['Item Price']=popular_DataFrame['Item Price'].map('${:.2f}'.format)
popular_DataFrame['Total Purchase Value']=popular_DataFrame['Total Purchase Value'].map('${:.2f}'.format)
popular_DataFrame[['Purchase Count','Item Price','Total Purchase Value']]
popular_DataFrame.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$50.76
145,Fiery Glass Crusader,9,$41.22,$41.22
132,Persuasion,9,$28.99,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# popular dataframe
popular_DataFrame = pd.DataFrame({'Purchase Count':purchase_popular,
                                  'Item Price':price_popular,
                                  'Total Purchase Value':totalpurch_popular})


# descending order for total purchase value column
popular_DataFrame=popular_DataFrame.sort_values('Total Purchase Value',ascending=False)

# formatting dataframe
popular_DataFrame['Item Price']=popular_DataFrame['Item Price'].map('${:.2f}'.format)
popular_DataFrame['Total Purchase Value']=popular_DataFrame['Total Purchase Value'].map('${:.2f}'.format)
popular_DataFrame[['Purchase Count','Item Price','Total Purchase Value']]
popular_DataFrame.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$50.76
82,Nirvana,9,$44.10,$44.10
145,Fiery Glass Crusader,9,$41.22,$41.22
103,Singed Scalpel,8,$34.80,$34.80